<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResearchAgent</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .spinner {
            border: 8px solid #f3f3f3; /* Light grey */
            border-top: 8px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 60px;
            height: 60px;
            animation: spin 1s linear infinite;
            position: absolute;
            top: 40%;
            left: 40%;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        #loading {
            display: none;
            position: fixed;
            width: 10%;
            height: 10%;
            z-index: 1000;
        }

        .search-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        #query {
            width: 80%;
            max-width: 1000px; /* 可以根据需要调整最大宽度 */
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="loading">
            <div class="spinner"></div>
        </div>
        <h1>ResearchAgent</h1>
<!--        <div class="search-container">-->
<!--            <input type="text" id="query" placeholder="Come and try my idea generation ability, please enter the arxiv link, for example: https://arxiv.org/abs/2404.07738">-->
<!--&lt;!&ndash;            <input type="file" id="file-upload">&ndash;&gt;-->
<!--            <button onclick="search()">🔍</button>-->
<!--        </div>-->

        <div class="search-container">
    <select id="query">
<!--        <option value="https://arxiv.org/abs/2310.08129">Tailored Visions: Enhancing Text-to-Image Generation with Personalized Prompt Rewriting</option>-->
<!--        <option value="https://arxiv.org/abs/2408.15998v1">Eagle: Exploring The Design Space for Multimodal LLMs with Mixture of Encoders</option>-->
<!--        <option value="https://arxiv.org/abs/2408.14906">Writing in the Margins: Better Inference Pattern for Long Context Retrieval</option>-->
        <!-- 可以根据需要添加更多选项 -->
        <option value="https://arxiv.org/abs/2311.16682">ContextSeg: Sketch Semantic Segmentation by Querying the Context with Attention</option>
<option value="https://arxiv.org/abs/2401.05268">AutoAct: Automatic Agent Learning from Scratch for QA via Self-Planning</option>
<option value="https://arxiv.org/abs/2402.13231">Investigating Cultural Alignment of Large Language Models</option>
<option value="https://arxiv.org/abs/2408.16046">Scaling Up Diffusion and Flow-based XGBoost Models</option>
<option value="https://arxiv.org/abs/2311.15977">Text2Loc: 3D Point Cloud Localization from Natural Language</option>
<option value="https://arxiv.org/abs/2311.06555">LLMs Learn Task Heuristics from Demonstrations: A Heuristic-Driven Prompting Strategy for Document-Level Event Argument Extraction</option>
<option value="https://arxiv.org/abs/2408.15792">Efficient LLM Scheduling by Learning to Rank</option>
<option value="https://arxiv.org/abs/2402.18113">Small But Funny: A Feedback-Driven Approach to Humor Distillation</option>
<option value="https://arxiv.org/abs/2402.13137">The Hidden Space of Transformer Language Adapters</option>
<option value="https://arxiv.org/abs/2408.16293">Physics of Language Models: Part 2.2, How to Learn From Mistakes on Grade-School Math Problems</option>
<option value="https://arxiv.org/abs/2311.18303">OmniMotionGPT: Animal Motion Generation with Limited Data</option>
<option value="https://arxiv.org/abs/2311.09641">RLHFPoison: Reward Poisoning Attack for Reinforcement Learning with Human Feedback in Large Language Models</option>
<option value="https://arxiv.org/abs/2311.15826">GeoChat: Grounded Large Vision-Language Model for Remote Sensing</option>
<option value="https://arxiv.org/abs/2403.18186">Don't Look into the Dark: Latent Codes for Pluralistic Image Inpainting</option>
<option value="https://arxiv.org/abs/2406.10935">Pick-or-Mix: Dynamic Channel Sampling for ConvNets</option>
<option value="https://arxiv.org/abs/2402.11756">MARS: Meaning-Aware Response Scoring for Uncertainty Estimation in Generative LLMs</option>
<option value="https://arxiv.org/abs/2408.15915">Leveraging Open Knowledge for Advancing Task Expertise in Large Language Models</option>
<option value="https://arxiv.org/abs/2408.16767">ReconX: Reconstruct Any Scene from Sparse Views with Video Diffusion Model</option>
<option value="https://arxiv.org/abs/2408.16357">Law of Vision Representation in MLLMs</option>
<option value="https://arxiv.org/abs/2305.18565">PaLI-X: On Scaling up a Multilingual Vision and Language Model</option>
<option value="https://arxiv.org/abs/2312.08985">OMG: Towards Open-vocabulary Motion Generation via Mixture of Controllers</option>
<option value="https://arxiv.org/abs/2310.08129">Tailored Visions: Enhancing Text-to-Image Generation with Personalized Prompt Rewriting</option>
<option value="https://arxiv.org/abs/2408.15991">Distribution Backtracking Builds A Faster Convergence Trajectory for One-step Diffusion Distillation</option>
<option value="https://arxiv.org/abs/2404.06709">CQIL: Inference Latency Optimization with Concurrent Computation of Quasi-Independent Layers</option>
<option value="https://arxiv.org/abs/2408.15998">Eagle: Exploring The Design Space for Multimodal LLMs with Mixture of Encoders</option>
<option value="https://arxiv.org/abs/2312.13216">Improving Semantic Correspondence with Viewpoint-Guided Spherical Maps</option>
<option value="https://arxiv.org/abs/2404.07738">ResearchAgent: Iterative Research Idea Generation over Scientific Literature with Large Language Models</option>
<option value="https://arxiv.org/abs/2408.15881">LLaVA-MoD: Making LLaVA Tiny via MoE Knowledge Distillation</option>
<option value="https://arxiv.org/abs/2311.17516">MMA-Diffusion: MultiModal Attack on Diffusion Models</option>
<option value="https://arxiv.org/abs/2402.14836">Stealthy Attack on Large Language Model based Recommendation</option>
<option value="https://arxiv.org/abs/2408.16061">3D Reconstruction with Spatial Memory</option>
    </select>
    <button onclick="search()">🔍</button>
        </div>

        <div class="tabs">
            <button class="tab" id="paper-tab" onclick="showTab('paper')" disabled>Paper</button>
            <button class="tab" id="problem-tab" onclick="showTab('problem')" disabled>Problem</button>
            <button class="tab" id="method-tab" onclick="showTab('method')" disabled>Method</button>
            <button class="tab" id="experiment-tab" onclick="showTab('experiment')" disabled>Experiment</button>
            <button class="tab" id="ideate-tab" onclick="showTab('ideate')" disabled>Ideate</button>
        </div>
        <div class="progress-bar">
            <div class="progress" id="progress"></div>
        </div>

        <div class="buttons">
            <button id='continue-tab' onclick="continueTab()" disabled>Continue</button>
            <button id='regenerate-tab'onclick="regenerate()" disabled>Regenerate</button>
        </div>
        <div class="result" id="result">
            <!-- Result content will be displayed here -->
        </div>
        <div class="gpt_feedback" id="gpt_feedback">
            <!-- Result content will be displayed here -->
        </div>
        <div class="feedback">
            <textarea id="human-feedback" placeholder="Enter your feedback"></textarea>
        </div>

        <button id='export-tab' onclick="exportContent()" disabled>Export</button>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>